*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #fff2e6;
}

#cafe1{
    width: 1300px;
    height: 0 auto;
}

h1{
    color: #ffa959;
    font-size: 75px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.bienvenidos p{
    font-weight: 100;
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 15px;
}

.boton1{
    color: white;
    width: 200px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    background-color: #ffa959;
    display: block;
    border-radius: 30px;
    margin-top: 30px;
}

nav{
    background-color: #7b4640;
    padding: 6px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 1300px;
    margin-left: 30px;
}

a{
    text-decoration: none;
    font-size: 12px;
}

.menu a img{
    width: 25px;
    height: 0 auto;
}

ul{
    list-style-type: none;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.menu li{
    margin-right: 50px;
    margin-left: 10px;
}

.menu li a{
    color: #ffa959;
}

.bienvenidos{
    padding-top: 30px;
    padding-bottom: 30px;
}

.bienvenidos p{
    color: #7b4640;
    font-weight: 400;
}

ul li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2{
    color: #BC6F41;
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
}

.contenedor{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.cafes article{
    width: 320px;
    height: 350px;
    padding: 30px;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

#cappuccino{
    background-color: #7B4640;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 9px;
}

.boton2{
    color: white;
    width: 170px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    background-color: #ffa959;
    display: block;
    border-radius: 30px;
    margin-top: 30px;
}

#espresso{
    background-color: #BC6F41;
}

.boton3{
    color: white;
    width: 170px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    background-color: #7B4640;
    display: block;
    border-radius: 30px;
    margin-top: 30px;
}

.cafes{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 960px;
}

#mocca{
    background-color: #FFA959;
}

.boton4{
    color: white;
    width: 170px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    background-color: #BC6F41;
    display: block;
    border-radius: 30px;
    margin-top: 30px;
}

#conocenos{
    background-color: #BC6F41;
    margin-top: -20px;
}

.titulohis{
    width: 592px;
    height: 450px;
    padding: 20px;
    margin: 50px;
    font-size: 18px;
}

.historia{
    padding-top: 20px;
    padding-left: 30p;
}

#conocenos h2{
    color:  #FFA959;
    padding-bottom: 1px;
    text-align: left;
    padding-top: 35px;
}

.foto{
    width: 650px;
    height: 0 auto;
    float: right;

}

.foto img{
    width: 650px;
    height: 0 auto;
    padding-top: 50px;
}

#conocenos p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
}

.footer{
    display: flex;
    margin-left: 50px;
}

.footer li{
    margin-left: 50px;
    margin-right: 10px;
    padding-top: 4px;
}

.end{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.end p{
    color: #FFA959;
    padding-top: 12px;
    font-weight: 500;
    font-size: 12px;
    padding-left: 200px;
}

footer{
    background-color: #7b4640;
    padding: 10px;
}

.boton1:hover{
    color: #491E1A;
    background-color: #F9BE93;
}

.boton2:hover{
    color: #491E1A;
    background-color: #F9BE93;
}

.boton3:hover{
    color: #491E1A;
    background-color: #F9BE93;
}

.boton4:hover{
    color: #491E1A;
    background-color: #F9BE93;
}

.menu li a:hover{
    color: #FFDFC0;
}

.menu img:hover{
    filter: brightness(1.18);
}

.footer img:hover{
    filter: brightness(1.18);
}

.formulario{
    width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

form{
    width: 75%;
    margin: 0 auto;
}

.formulario p{
    display: block;
    text-align: center;
    padding: 7px;
}

.formulario h2{
    color: #7B4640;
}

#contactar{
    background-color: #F9BE93;
    padding: 10px 0 50px 0;
}

#nombre-y-apellido,#correo-electronico{
    padding: 10px;
}

#escribe-tu-consulta{
    padding: 10px;
}

#nombre-y-apellido,#correo-electronico,#escribe-tu-consulta{
    display: block;
    width: 100%;
    border-radius: 5px;
    border: none;
}

label{
    display: block;
    margin-bottom: 8px;
}

.espaciado{
    margin: 16px 0;
}

#myCarousel {
    color: #000000;
    --carousel-button-bg: #ffffff40;
    --carousel-button-svg-width: 50px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2;
}

.carousel__slide {
    background-size: cover;
    width: 1350px;
    height: 550px;
}
